@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Tiro+Telugu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 bg-gray-50;
  }
}

@layer components {
  .container-base {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}







